

.projectsHeader {
  display: flex;
  flex-direction: row;
  gap: 4.4375rem;
  margin-bottom: 3rem;
}

.projectsHeader h4 {
  color: var(--White, #fff);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.5rem; /* 100% */
  letter-spacing: -1.136px;
}

.projectsHeader button {
  background: transparent;
  border: none;
  border-bottom: solid 2px var(--green);
  color: var(--White);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.625rem; /* 162.5% */
  letter-spacing: 0.142875rem;
}

.projects-boxes{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}


/* media quieries */

@media screen and (min-width: 768px) {
  .projects{
    width: 90%;
  }

  .projectsHeader{
    justify-content: space-between;
    align-items: center;
  }

  .projectsHeader h4 {
    font-size: 72px;
    font-weight: 700;
    line-height: 72px; /* 100% */
    letter-spacing: -2.045px;
  }
  
  .projects-boxes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  
}