.contact{
    background: var(--Dark-Grey, #242424);
    width: 100vw;
    
}

input::placeholder, textarea::placeholder{
    opacity: 0.5;
;
}

input[type='text']::placeholder{
    position: relative;
    top: 0.5em;
}

input{
    padding: 10px;
    display: flex;

}

input:focus, textarea:focus{
    outline: none;
}

.footer{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    height: 620px;
    border-bottom: solid 2px;
}

.c-rings{
   
}


@media (min-width: 768px) {
   .form{
    border-bottom: none;
   }

   .footer{
    width: 90vw;
    border-top: solid 2px;
    height: 104px;
   }

   .c-rings{
    bottom: 190px;
   }
}