.name{
    border-bottom: 3px solid #00ff99;
}

.rings{
    right: 60%;
    top: 4%;
}

.circle{
    left: 87%;
    top: 6%;
}

#img{
    background: rgba(138, 138, 141, 0.15);
    backdrop-filter: blur(40px);
}