.name{
    border-bottom: 6px solid #00ff99;
}

.info{
    width: 343px;
}

.rings{
    right: 60%;
    top: 2%;
    height: 120px;
}

.circle{
    left: 95%;
    top: 6%;
}

@media (min-width: 768px){
    

    .circle{
        left: 105%;
        z-index: 1;
    }
}

#img{
    background: rgba(138, 138, 141, 0.15);
    backdrop-filter: blur(40px);
}

.intro{
    width: 100vw;
}

.c-button{
    border-bottom: #00ff99 6px solid;
}

.rings{
    top: 6.7rem;
    right: 77%;
    height: 130px;
}