.name{
    width: fit-content;
    border-bottom: #00ff99 3px solid;
}

.info{
    width: 343px;
}

.rings{
    right: 60%;
    top: 2%;
    height: 120px;
}

.circle{
    left: 95%;
    top: 6%;
}

a:hover{
    color: #00ff99;
}

@media (min-width: 768px){
    

    .circle{
        left: 105%;
        z-index: 1;
    }
}

#img{
    background: rgba(138, 138, 141, 0.15);
    backdrop-filter: blur(40px);
}

.intro{
    width: 100vw;
}

.c-button{
    border-bottom: #00ff99 2px solid;
}

.rings{
    top: 6.7rem;
    right: 77%;
    height: 130px;
}

@media(min-width: 1024px){
    .intro{
       max-width: 100%;
    }
    
    
    .info{
        max-width: 706px;
        

    }

    .title{
        width: 706px;
        display: inline-block;
       
    }

    .circle{
        left: 70%;
        top: 9%;
    }

    .rings{
        left: -35%;
    }
}