.skills{
    height: 604px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    justify-content: center;
    align-items: center;
    border: solid;
    width: 115%;
}

.languages-container h1{
    font-size: 28px;
    text-align: center;
}

