.skills{
    border-top: 2px solid;
    border-bottom: 2px solid;
    justify-content: center;
    width: 115%;
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    padding-bottom: 52px;

}

.baby{
    height: 604px;
    align-items: center;
    margin-top: 50px;
}

.languages-container h1{
    font-size: 28px;
    text-align: center;
}

@media (min-width: 768px) {
    .languages-container h1{
        font-size: 48px;
    }

    .skills{
        text-align: center;
        padding-top: 40px;
        border-bottom: none;
       
    }

     .languages-container p{
        font-size: 18px;
        text-align: left;
    }

    .baby{
        height: 400px;
        margin-top: 0px;
        align-items: start;
        justify-content: center;
        
    }
}

@media(min-width: 1024px){
    .skills{
        padding-bottom: 0px;
    }
}

