.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px var(--white);
  border-top: solid 1px var(--white);
  width: 21.5625rem;
  gap: 1.5rem;
  height: 604px;
}

.skills .nameOfSkill h4 {
  color: var(--White, #fff);
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem; /* 125% */
  letter-spacing: -1px;
}

.skills .nameOfSkill p {
  color: var(--Grey, #d9d9d9);
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem; /* 162.5% */
}

.skillsBg{
  position: absolute;
  top: 163%;
  right: -75%;
  z-index: -1;
}

/* Media Queries tablets */

@media (min-width: 768px) {
  .skills {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: none;
  }

  .skills .nameOfSkill{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
  }

  .skills .nameOfSkill h4 {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
    letter-spacing: -1.5px;
  }

  .skills .nameOfSkill p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
  }

  .skills-backImg {
    position: absolute;
    top: 120%;
    right: -35%;
  }
}
