.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--white);
  align-items: center;
  margin-top: 70px;
}

.contact h2 {
  margin-bottom: 25px;
}

.contact form {
  width: 343px;
  height: 515px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.contact form input,
.contact textarea {
  background: transparent;
  border: none;
  width: 100%;
  border-bottom: 1px solid var(--white);
}

.contact form .input2:focus,
.contact form .input1:focus,
.contact form textarea:focus {
  border-bottom: 1px solid var(--green);
}

.contact form .input2Error {
  border-bottom: 1px solid #ff6f5b;
}

.contact form .input2Error:focus {
  border-bottom: 1px solid #ff6f5b;
}

.contact form p {
  color: #ff6f5b;
  position: relative;
  bottom: 30px;
  left: 29%;
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.167px;
  font-size: 12px;
}

input,
textarea {
  height: 43px;
  color: var(--white);
}

input::placeholder,
textarea::placeholder {
  position: relative;
  left: 15px;
}

input:focus,
textarea:focus {
  outline: none;
  color: var(--white);
}

textarea {
  height: 6.6875rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem; /* 162.5% */
  letter-spacing: -0.222px;
}

.contact h2 {
  color: var(--White);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.5rem; /* 100% */
  letter-spacing: -1.136px;
}

.contact p {
  color: var(--grey);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem; /* 162.5% */
  width: 21.4375rem;
}

.contact-button {
  margin-left: 10rem;
  background: transparent;
  border: none;
  color: var(--white);
  border-bottom: solid 2px var(--green);
  height: 3.125rem;
  color: var(--White, #fff);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.625rem; /* 162.5% */
  letter-spacing: 0.142875rem;
}

.nsl {
  margin-top: 40px;
}

.contact-container {
  height: 854px;
  background-color: var(--dark-Grey);
  width: 100vw;
  height: 100%;
}

.contact-backImg {
  position: absolute;
  bottom: 360px;
  right: 300px;
}

/* media quieries tablet */
@media screen and (min-width: 768px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact {
    width: 90%;
  }

  .contact h2 {
    font-size: 72px;
    font-weight: 700;
    line-height: 72px; /* 100% */
    letter-spacing: -2.045px;
  }

  .contact p {
    width: 445px;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
  }

  .contact form input,
  .contact textarea {
    width: 445px;
  }

  .contact-button {
    width: 160px;
    margin-left: 85%;
  }
}
