.headerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.headerMain .h3-2 {
  display: none;
}

.headerMain .h3-1 {
  width: 21.4375rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.5rem; /* 100% */
  letter-spacing: -0.071rem;
}

.headerMain h3 span {
  border-bottom: var(--green) 4px solid;
}

.headerMain p {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem; /* 162.5% */
  width: 21.4375rem;
  margin-top: 1rem;
}

.headerMain .contactMe button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.625rem; /* 162.5% */
  letter-spacing: 2.286px;
  color: white;
}

.headerMain .contactMe .line {
  width: 100%;
  border: 0.125rem solid #4ee1ab;
}

.contactMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  margin-top: 1rem;
}

/* Media queries  tablets */

@media (min-width: 768px) {
  .headerMain {
    position: relative;
    right: 40%;
    top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 445px;
    height: 449px;
    margin-top: 70px;
  }

  .headerMain .h3-1 {
    display: none;
  }

  .headerMain .h3-2 {
    width: 445px;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; /* 100% */
    letter-spacing: -2.045px;
    text-align: start;
    display: block;
  }

  .headerMain p {
    width: 445px;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: start;
    margin-top: 50px;
  }
}
