.header{
    width: 110%;
    
}

.open{
    background: rgba(138, 138, 141, 0.15);
    backdrop-filter: blur(40px);
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    z-index: 100;
    padding-left: 2rem;
    padding-right: 5rem;

}