.app{
    width: 343px;
    margin: 0 auto;
    position: relative;
}

.app-rings{
    position: absolute;
    top: 27.1%;
    left: 50%;
}

@media (min-width: 768px) {
   .app-rings{
         top: 33.2%;
         left: 70%;
   }
}