.app{
    width: 343px;
    margin: 0 auto;
    position: relative;
}

.app-rings{
    position: absolute;
    top: 94.7rem;
    left: 60%;
}

@media (min-width: 768px) {
   .app-rings{
         top: 25.9%;
         left: 82%;
   }
}

@media (min-width: 1024px) {
    .app{
        max-width: 1210px;   
    }

    .app-rings{
        top: 21.9%;
        left: 88%;
    }
    
    
    
}